<!DOCTYPE html>
<html>

<head>
  <title>Giriş Sayfası</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/style.css">
  <style>
    .card {
      width: 100%; 
    }
  </style>
</head>

<body>
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-12">
        <div class="card">
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
              
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link" href="/">Home Page</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/users/login">Login</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/users/register">Register</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>

          <div class="card-body col-md-12">
            <div class="row">
              <div class="col-md-4">
                <img src="slide2.jpg" class="img-fluid" alt="Resim 1">
              </div>
              <div class="col-md-8">
                <b>AKILLI İKLİMLENDİRME SİSTEMİ</b>
                <p>Geleceğe hoş geldiniz! Günümüzün hızlı teknolojik gelişmeleri ile yaşam alanlarımızda daha akıllı, daha verimli ve daha konforlu bir iklimlendirme deneyimi sunma zamanı geldi. Size, en son yeniliklerle donatılmış, ileri teknolojili Akıllı İklimlendirme Sistemi'mizi tanıtmaktan gurur duyuyoruz. Bu sistem, sıcaklık ve nem kontrolünü yepyeni bir seviyeye taşıyarak, hem konforunuzu hem de enerji tasarrufunuzu maksimize etmek üzere tasarlanmıştır.</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <img src="slide1.png" class="img-fluid" alt="Resim 2">
              </div>
              <div class="col-md-8">
                  <p><b>Gezgin Ürün ile Anlık Çevresel Veriler:</b> <p>
                  </p>Sistemimizin kalbinde, gezgin bir ürün bulunmaktadır. Bu ürün, dış ortamdan topladığı sıcaklık ve nem verilerini gerçek zamanlı olarak analiz eder. Sıcak yaz günlerinde serin bir evin keyfini çıkarmak ya da soğuk kış günlerinde sıcacık bir ortamda rahatlamak, artık hayal değil. Gezgin ürün, dış koşullara anında tepki vererek iç mekan koşullarını en uygun seviyede tutar. </p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <img src="slide3.jpg" class="img-fluid" alt="Resim 3">
              </div>
              <div class="col-md-8">
                <p><b>Enerji Tasarrufu ve Sürdürülebilirlik:</b> <p>
                </p>  Akıllı İklimlendirme Sistemi'miz sadece konforunuzu artırmakla kalmaz, aynı zamanda enerji tasarrufu yapmanıza da yardımcı olur. Sistem, enerji tüketimini optimize eder ve gereksiz enerji harcamalarını önler. Bu sayede, hem doğaya katkıda bulunur hem de enerji faturalarınızda önemli ölçüde tasarruf edersiniz.</p>
              </div>
            </div>
  
            <div class="card-group mt-3">
              <div class="card">  
                <div class="card-body">
                  <h5 class="card-title">Teknik Özellikler</h5>
                  <p class="card-text">NodeMCU, ESP8266 mikrodenetleyici çipini temel alan bir geliştirme kartıdır. Çeşitli sensörler ve modüllerle kolay entegrasyon sağlamak için tasarlanmıştır.

                    <li><strong>Mikrodenetleyici:</strong> ESP8266</li>
                <li><strong>Çalışma Gerilimi:</strong> 3.3V</li>
        <li><strong>Giriş Gerilimi:</strong> Vin pini üzerinden 4.5V - 10V, USB bağlantısı ile 5V</li>
        <li><strong>İşlemci Frekansı:</strong> 80MHz - 160MHz arasında ayarlanabilir</li>
        <li><strong>Flash Bellek:</strong> 4MB (32Mbit)</li>
        <li><strong>SRAM:</strong> 64KB</li>
        <li><strong>GPIO (Genel Amaçlı Giriş/Çıkış) Pinleri:</strong> 17 adet</li>
        <li><strong>ADC (Analog Dijital Çevirici):</strong> 1 adet, 10-bit çözünürlükte</li>
        <li><strong>PWM (Pulse Width Modulation):</strong> Dijital pinlerin tümünde PWM desteği</li></p>
                </div>
                <div class="card-footer">
                </div>
              </div>
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Teknik Özellikler</h5>
                  <p class="card-text"><li><strong>Wi-Fi:</strong> IEEE 802.11 b/g/n (2.4 GHz)</li>
                    <li><strong>UART (Universal Asynchronous Receiver-Transmitter):</strong> 1 adet</li>
                    <li><strong>SPI (Serial Peripheral Interface):</strong> 1 adet</li>
                    <li><strong>I2C (Inter-Integrated Circuit):</strong> 1 adet</li>
                    <li><strong>I2S (Inter-IC Sound):</strong> 1 adet</li>
                    <li><strong>OneWire:</strong> 1 adet</li>
                    <li><strong>USB Bağlantısı:</strong> Mikro USB portu üzerinden</li>
                    <li><strong>Boyutlar:</strong> 49 mm x 24.5 mm</li>
                    <li><strong>Çalışma Sıcaklığı:</strong> -40°C ila +125°C arası</li>
                    <li><strong>Normal Çalışma Modu:</strong> 170 mA</li>
                    <li><strong>Uyku Modu:</strong> 10 µA</li></p>
                </div>
                <div class="card-footer">
                </div>
              </div>
            </div>
            
            <div class="mt-4">
              <h5>İletişim</h5>
              <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <p>->ornek@gmail.com</p>
              </div>
              <div class="mb-3">
                <label for="phone" class="form-label">Telefon Numarası</label>
                <p>->0555 555 55 55</p>
              </div>
            </div>
  
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
  <!-- Navbar 
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand" href="/">Logo</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home Page</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users/register">Register</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <div class="image-container">
      <img src="kombi.jpg" alt="Fotoğraf">
    </div>
    <div class="text-container">
      <h2>Isıtma Çözümleri</h2>
      <p>Bizimle ısıtma ve konfor deneyimini yaşayın!</p>
    </div>
  </div>
-->
  <!-- JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
